.item-page-container {
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  margin-bottom: 20px;
}

.profile-container {
  display: flex;

  .profile-name {
    margin-top: 0.4em;
    margin-left: 1em;
  }
}